body[data-theme="dark"] {
  @import "/src/scss/dark-slider.scss";

  .slider-tab {
    background-color: #64798c;
  }

  .title-styles {
    color: white;
  }

  .header-icon {
    color: #bfcdd9;
    opacity: 0.8;
  }

  .slider-image {
    border: 5px solid #8c8c8c;
  }

  .language {
    background-color: #494949;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #918e97;
    color: white;
  }

  header {
    background-color: #031226;
    h1 {
      color: white;
    }
  }

  #about {
    background-color: #64798c;
    h1 span {
      color: white;
    }
    .polaroid span {
      background: #3d9dd9;
    }
    .card {
      background: #3d9dd9;
      color: white;
    }
  }

  #portfolio {
    background: #c2e0f2;
    .section-title {
      color: white !important;
    }
    .foto div {
      background: #6d6d6d;
    }
    .project-title-settings {
      color: white;
    }
  }

  #resume {
    filter: brightness(80%);
    background: #c2e0f2;
    .section-title {
      color: white !important;
    }

    .experience-badge {
      background: #3d9dd9 !important;
      color: white;
    }

    .main-badge {
      background: #3d9dd9 !important;
    }

    .vertical-timeline-element-date {
      color: white;
    }

    .vertical-timeline-element-icon {
      background: #3d9dd9 !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: #5b5b5b;
    color: white;
  }

  .close-icon {
    color: white;
  }
}
